<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>demo</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script type="text/javascript" src="../vendor/vue.min.js"></script>
        <script type="text/javascript" src="vue.lazyimg.eg.js"></script>
        <style media="screen">
            #vue img {
                transition: opacity 1s !important;
            }
            #vue2 img {
                float: left;
                box-sizing: border-box;
                border: 1px solid #f6f6f6;
            }
            #vue3 img {
                float: left;
                box-sizing: border-box;
                border: 1px solid #f6f6f6;
            }
        </style>
    </head>
    <body>
        <script type="text/javascript">
        Vue.use(Vue.lazyimg,{
            /**
             * 是否开启淡入效果的全局选项
             */
            fadein: false,
            /**
             * 是否忽略横向懒加载的全局选项
             */
            nohori: false,
            /**
             * 对屏幕滚动的速度的阈值，滚动速度高于此值时，不加载图片
             */
            speed: 20
        })
        </script>


        <h3>带背景图淡入</h3>
        <div id="vue">
        </div>
        <script id="tmpl" type="text/vue">
            <div v-for="item in [1,2,3,4,5,6,7,8,9,10]"  style="background:url(default_bg.png) center no-repeat #fff">
                <img src="default_trans.png" v-lazyload:opt.fadein="img" width="100%" height="100%">
            </div>
        </script>
        <script type="text/javascript">
            new Vue({
                el: '#vue',
                template: document.querySelector('#tmpl').innerHTML,
                replace: false,
                data:{
                    img: 'lazy.jpg'
                }
            })
        </script>


        <h3>横向方向也做懒加载</h3>
        <div class="wrapper" style="overflow:scroll;">
            <div id="vue2" style="width:3000px;">
            </div>
        </div>
        <script id="tmpl2" type="text/vue">
            <img src="default.jpg" v-for="item in [1,2,3,4,5,6,7,8,9,10]" v-lazyload:opt.fadein="img" width="300px" height="150px">
        </script>
        <script type="text/javascript">
            new Vue({
                el: '#vue2',
                template: document.querySelector('#tmpl2').innerHTML,
                replace: false,
                data:{
                    img: 'lazy.jpg'
                }
            })
        </script>


        <h3>横向方向不做懒加载</h3>
        <div class="wrapper" style="overflow:scroll;">
            <div id="vue3" style="width:3000px;">
            </div>
        </div>
        <script id="tmpl3" type="text/vue">
            <img src="default.jpg" v-for="item in [1,2,3,4,5,6,7,8,9,10]" v-lazyload:opt.nohori="img" width="300px" height="150px">
        </script>
        <script type="text/javascript">
            new Vue({
                el: '#vue3',
                template: document.querySelector('#tmpl3').innerHTML,
                replace: false,
                data:{
                    img: 'lazy.jpg'
                }
            })
        </script>


        <h3>不淡入，最普通效果</h3>
        <div id="vue4">
        </div>
        <script id="tmpl4" type="text/vue">
            <img src="default.jpg" v-for="item in [1,2,3,4,5,6,7,8,9,10]" v-lazyload="img" style="background:url(default_bg.png) center no-repeat #fff" width="100%" height="100%">
        </script>
        <script type="text/javascript">
            new Vue({
                el: '#vue4',
                template: document.querySelector('#tmpl4').innerHTML,
                replace: false,
                data:{
                    img: 'lazy.jpg'
                }
            })
        </script>
    </body>
</html>
